@{
  Layout = "_Layout";
}

@using PierresTracker.Models;

<h1>Vendors</h1>

@foreach (Vendor vendor in Model)
{
    <li><a href="/vendors/@vendor.Id">@vendor.VendorName</a> : @vendor.VendorDescription</li>
}

<p><a href="/vendors/new">Add a Vendor</a></p>

<p><a href="/">Home</a></p>